## Whitelist-only ignore list; only allow files/directories listed here to be tracked in 
## git
*
# This file
!.gitignore

## etckeeper files
!.etckeeper
!etckeeper/
!etckeeper/etckeeper.conf

## Configuration files to track; only list files that have been been customized beyond 
## what pacman ships
!locale.gen
!mkinitcpio.conf
!makepkg.conf
!sudoers

!bluetooth
!bluetooth/**

!cardano
!cardano/**/
!cardano/**/*.json

!greetd/
!greetd/**

!nix/
!nix/nix.conf

!pacman.conf
!pacman.d/
!pacman.d/mirrorlist

!pam.d/
!pam.d/system-login

!security/
!security/faillock.conf

!ssh/
!ssh/sshd_config
!ssh/sshd_config.d/
!ssh/sshd_config.d/**

!systemd/
!systemd/system/
!systemd/system/cardano-db-sync@.service.d
!systemd/system/cardano-db-sync@.service.d/*
!systemd/system/cardano-node@.service.d
!systemd/system/cardano-node@.service.d/*


!tmpfiles.d
!tmpfiles.d/blockchain.conf
